/* google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:wght@100;300;400;500&display=swap');

:root {
  --font-main: 'Inter', sans-serif;
  --font-secondary: 'Roboto', sans-serif;
  --color-primary: #db4444;
  --color-black: #0a0909;
  --color-grey: #7d8184;
  --color-white: white;
  --color-white2: #F5F5F5;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10 px;
}

body {
  font-family: var(--font-main);
  /*font-size: 1.3rem;*/
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 1rem;
}


/* navbar */

.nav {
  width: 100%;
  height: 4.3rem;
  border-bottom: 1px solid #d5caca;
  display: block;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: var(--color-white2);
}

.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;

}

.nav_list {
  display: flex;
  margin-left: 2rem;
}

.nav_item {
  display: flex;
  align-items: center;
  margin: 0.6rem;
}

.nav_logo {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--color-black);
}

.nav_item {
  margin: 0 0.5rem;
}

.nav_link {
  padding: 0.6rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-black);
  cursor: pointer;
}

.nav_link1 {
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-black);
}

.user_auth {
  padding: 0.4rem;
  display: none;
  align-items: center;
}

.nav_name {
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-black);
}

.nav_user {
  height: 1.4rem;
  width: 2.2rem;
  cursor: pointer;
}

.nav_cart {
  cursor: pointer;
}

.span_div {
  position: absolute;
  top: 20%;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart_div {
  display: none;
  padding: 0.6rem;
  align-items: center;
  position: relative;
}

.cart_span {
  background-color: var(--color-primary);
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 13px;
  font-weight: bolder;
  height: 1rem;
  width: 1rem;
}


/** Category section **/
.header_container {
  width: 100%;
  display: flex;
  margin-top: 2rem;
}

.header_filter {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


/* section */
.section {
  margin-top: 4rem;
}

.title {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0px;
  padding: 12px 25px 10px 25px;
  position: relative;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  background: var(--color-black);
  margin-top: 0px;
  margin-left: -10px;
}

.title:before {
  content: '-';
  font-family: var(--font-secondary);
}

.title:after {
  content: "";
  height: 1px;
  width: 1px;
  border-style: solid;
  border-width: 5px;
  position: absolute;
  bottom: -10px;
  left: 0;
  border-color: var(--color-black) transparent transparent;
}

ul#category-tabs {
  list-style: none;
  padding: 0;
  margin: 0;
  padding: 0;
}

ul#category-tabs li {
  display: block;
  position: relative;
  margin: 0;
  border-bottom: 1px #ececec solid;
  padding: 10px 18px;
}

ul.sub-category-tabs li {
  padding: 2px !important;
}

ul.sub-category-tabs li {
  border-bottom: 0px !important;
}

ul#category-tabs li a {
  color: var(--color-black);
  font-weight: 700;
  margin-bottom: 0;
  font-size: 12px;
}


ul#category-tabs li a i {
  top: 12px;
  right: 18px;
  position: absolute;
  cursor: pointer;
  width: 16px;
  height: 16px;
  padding: 2px;
  margin-left: 20px;
  color: var(--color-black);
}

.sub-category-tabs {
  display: none;
  transition: display 0.3s ease;
}

/* banner */
.banner {
  width: 100%;
  height: 50vh;
  display: flex;
}

.banner_img {
  object-fit: cover;
}



/* offer */

.section_category {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.section_category_p {
  border-left: 1.1rem solid var(--color-primary);
  padding-left: 1.2rem;
  margin-bottom: 1.2rem;
  color: var(--color-primary);
  font-size: 1rem;
}

.section_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.section_title {
  margin-right: 2rem;
  font-size: 1.5rem;
}

#time {
  font-size: 1.3rem;
}

.container_btn {
  width: 82%;
  text-align: right;
  position: absolute;

}

.container_btn_a {
  background-color: var(--color-primary);
  color: var(--color-white2);
  padding: 0.6rem 0.6rem;
  border-radius: 0.2rem;
  font-size: 0.8rem;
  font-weight: 600;
  transition: 0.5s;
}

.container_btn_a i {
  font-size: 1.2rem;
}

.container_btn_a:hover {
  background-color: red;
  color: var(--color-white);
}

.container_btn1 {
  width: 100%;
  text-align: center;
  margin-top: 1.5rem;
  position: relative;
}

/*paroduct card */
.card {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.product-card {
  position: relative;
  box-shadow: 0 2px 7px #dfdfdf;
  background: #fafafa;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
}

.badge1 {
  position: absolute;
  left: 0;
  top: 20px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  background: var(--color-primary);
  color: #fff;
  padding: 3px 10px;
}

.product-thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: var(--color-white2);
}

.product-thumb img {
  max-width: 100%;
  max-height: 100%;
}

.product-details {
  padding: 5%;
}

.product-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  border-top: 1px solid #eee;
}

.product-category {
  display: block;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-grey);
  margin-bottom: 0.4rem;
}

.product-details h4 a {
  font-weight: 700;
  font-size: 17px;
  display: block;
  margin-bottom: 0.6rem;
  text-transform: uppercase;
  color: #363636;
  text-decoration: none;
  transition: 0.3s;
}

.product-details h4 a:hover {
  color: var(--color-primary);
}

.product-details p {
  font-size: 11px;
  line-height: 18px;
  margin-bottom: 9px;
  color: var(--color-black);
}

.product-bottom-details {
  overflow: hidden;
}

.product-bottom-details div {
  float: left;
  width: 50%;
}

.product-price {
  font-size: 13px;
  color: var(--color-primary);
  font-weight: 550;
}

.product-price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
}

.product-links {
  text-align: right;
}

.product-links a {
  display: inline-block;
  margin-left: 5px;
  color: var(--color-grey);
  transition: 0.3s;
  font-size: 17px;
}

.product-links a:hover {
  color: var(--color-primary);
}

.spring_products,
.category_display,
.best_selling_products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.product-card img {
  object-fit: contain;
}

/* category */


/* categories */
.categories {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
  grid-gap: 0.2rem;
  margin-bottom: 2rem
}

.category {
  text-align: center;
  padding: 0.6rem;
  border: 1px solid rgb(197, 191, 191);
  transition: all 0.3s ease;
  cursor: pointer;
}

.category_name {
  font-size: 1rem;
}

.categories .active {
  border: 2px solid var(--color-primary);
}

.category:hover {
  border: 2px solid var(--color-primary);
  transition: 0.4s;

}

.category_icon {
  width: 1.5rem;
  height: auto;
  margin: auto;
}


.hide {
  display: none;
}


/* footer */

.footer {
  background: #000;
  color: #aaaaaa;
  font-size: 14px;
  padding: 60px 0 20px;
  margin-top: 2rem;
}

.mainDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer p {
  color: #8a8a8a;
}

.footer h3 {
  color: #fff;
  margin-bottom: 20px;
}

.footer-div1 {
  min-width: 250px;
  margin-bottom: 20px;
  flex: 1;
  text-align: center;
}

.tag {
  color: white;
  font-size: 20px;
}

.footer a {
  color: rgb(131, 130, 130);
}

.footer a:hover {
  color: white;
  text-decoration: none;
}

.footer-div3 {
  min-width: 250px;
  margin-bottom: 20px;
  flex-basis: 12%;
  text-align: center;
}

.footer-div2 {
  min-width: 250px;
  margin-bottom: 20px;
  text-align: center;
}

ul {
  list-style-type: none;
}

li {
  line-height: 29px;
}

.hr {
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0;
}

.copyright {
  text-align: center;
}




/* product details page */


.badge {
  background-color: #195548;
  border-radius: 10px;
  color: white;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  padding: 3px 7px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.cart {
  margin-left: 1rem;
}


.product_container {
  margin-top: 40px;
}

.card-wrapper {
  max-width: 1100px;
  margin: 0 auto;

}

.card {
  background-color: #ffffff;
}

img {
  width: 100%;
  display: block;
}
.img-display {
  overflow: hidden;
}

.img-select {
  display: flex;
}

.img-item {
  margin: 0.3rem;
}

.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3) {
  margin-right: 0;
}

.img-item:hover {
  opacity: 0.8;
}



.product-title {
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 700;
  position: relative;
  color: #12263a;
  margin: 1rem 0;
}

.product-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 80px;
  background: #12263a;
}

.product-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9rem;
  display: inline-block;
  margin-bottom: 0.5rem;
  background: #256eff;
  color: #fff;
  padding: 0 0.3rem;
  transition: all 0.5s ease;
}

.product-link:hover {
  opacity: 0.9;
}

.product-rating {
  color: #ffc107;
}

.product-rating span {
  font-weight: 400;
  color: #252525;
}

.product-price {
  font-size: 0.8rem;
  font-weight: 600;
  width: 90%;
}

.product-price span {
  font-weight: 400;
}

.last-price span {
  color: #f64749;
  text-decoration: line-through;
}

.new-price span {
  color: #256eff;
}

.product-detail h2 {
  text-transform: capitalize;
  color: #12263a;
  padding-bottom: 0.6rem;
}

.product-detail p {
  font-size: 0.9rem;
  padding: 0.3rem;
  opacity: 0.8;
}

.product-detail ul {
  margin: 1rem 0;
  font-size: 0.9rem;
}

.product-detail ul li {
  margin: 0;
  list-style: none;
  background: url(../image/check.png) left center no-repeat;
  background-size: 18px;
  padding-left: 1.7rem;
  margin: 0.4rem 0;
  font-weight: 600;
  opacity: 0.9;
}

.product-detail ul li span {
  font-weight: 400;
}

.purchase-info {
  margin: 1.5rem 0;
}

.purchase-info input,
.purchase-info .btn {
  border: 1.5px solid #ddd;
  border-radius: 25px;
  text-align: center;
  padding: 0.45rem 0.8rem;
  outline: 0;
  margin-right: 0.2rem;
  margin-bottom: 1rem;
}

.purchase-info input {
  width: 60px;
}

.purchase-info .btn {
  cursor: pointer;
  color: #fff;
}

.purchase-info .btn:first-of-type {
  background: #256eff;
}

.purchase-info .btn:last-of-type {
  background: #24d278;
}

.purchase-info .btn:hover {
  opacity: 0.9;
}

.heading1_container {
  display: flex;
  justify-content: center;
}

.heading1_container h2 {
  color: #252525;
  position: relative;
  font-family: 'Poppins', sans-serif;
}

.heading1_container h2::before {
  content: "";
  width: 60px;
  height: 3px;
  position: absolute;
  top: 50%;
  right: -5px;
  background-color: #24d278;
  -webkit-transform: translate(100%, -50%);
  transform: translate(100%, -50%);
}

/* cotact us page */

.social a {
  padding: 10px;
  color: #7b7c7c;
  font-size: 50px;
}

.contentDiv {
  display: block;
  height: 700px;
  width: 100%;
}

#contact {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
}

.social a:hover {
  color: #000000;
  transition: all ease 0.3s;
}

.contact-box {
  background-color: #232324;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 30px;
  box-shadow: 0 10px 16px 16px rgba(37, 31, 31, 0.2);
}

.c-heading h1 {
  font-family: Roboto;
  color: #e7eef3;
  font-size: 2.5rem;
  font-weight: 45px;
  margin: 0px;
  padding: 0px;
}

.c-heading p {
  font-family: Roboto;
  color: #cecece;
  font-size: 0.8rem;
  font-weight: lighter;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.c-inputs {
  margin: 15px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.c-inputs input {
  width: 250px;
  height: 45px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(251, 251, 251, 0.1);
  outline: none;
  margin: 10px 0px;
  padding: 10px;
  box-sizing: border-box;
  color: #f4f4f4;
  display: flex;
}

.c-inputs textarea {
  width: 250px !important;
  height: 200px !important;
  outline: none;
  background-color: transparent;
  border: 1px solid rgba(82, 82, 82, 1);
  color: #f4f4f4;
  padding: 10px;
  font-size: 1.2rem;
  box-sizing: border-box;
}

.c-inputs button {
  width: 200px;
  height: 40px;
  background-color: #FFFFFF;
  color: black;
  border: none;
  outline: none;
  margin-top: 30px;
  margin-left: 15px;
  border-radius: 10px;
  letter-spacing: 1px;
  font-size: 17px;
  font-weight: bold;
}

.c-inputs button:hover {
  color: white;
  background-color: black;
}

.c-inputs input:focus {
  border-bottom: 1px solid rgba(252, 252, 252, 1.00);
  transition: all ease 0.5s;
}

.c-inputs textarea:focus {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 1.00);
  transition: all ease 0.5s;
  background-color: rgba(0, 0, 0, 0.1);
}

.c-inputs button:active {
  transform: scale(1.02);
}

.map {
  filter: grayscale(0.2);
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  border: 2px solid #FFFFFF;
}

@media(max-width:1100px) {
  .map {
    display: none;
  }
}

/* cart page */
.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.cart {
  margin: 80px auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.cart-info {
  display: flex;
  flex-wrap: wrap;
}

th {
  text-align: left;
  padding: 5px;
  color: white;
  background-color: black;
  font-weight: normal;
}

td {
  padding: 10px 5px;
}

td input {
  width: 40px;
  height: 35px;
  padding: 7px;
}

td a {
  color: #d61020;
  font-size: 12px;
}

td img {
  width: 85px;
  height: 85px;
  margin-right: 10px;
}

.total {
  display: flex;
  justify-content: flex-end;
}

.total table {
  border-top: 3px solid black;
  width: 100%;
  max-width: 390px;
}

td:last-child {
  text-align: right;
}

th:last-child {
  text-align: right;
}

.checkout {
  margin-top: 27px;
  color: blanchedalmond;
  background: black;
  height: 50px;
  width: 300px;
  font-size: 17px;
}

.checkout:hover {
  opacity: 0.6;
}

/* login page */
.auth_container {
  width: 100%;
  display: flex;
  align-items: center;
  height: 74vh;
}

.auth_img {
  width: 67%;
  padding: 2rem;
  height: 100%;
}

.auth_img>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.auth_content {
  width: 40%;
}

.auth_content {
  padding: 2rem;
}

.form_title {
  font-size: 2rem;
}

.auth_p {
  margin: 2rem 0rem;
}

.form_group {
  width: 100%;
}

.form_input {
  width: 70%;
  margin-bottom: 1.3rem;
  padding: 1rem 0.6rem;
  outline: none;
  border: 1px solid var(--color-grey);
}

.form_input:focus {
  border: 1px solid rgb(101, 85, 221);
}

.form_pass {
  margin-bottom: 1rem;
}

.form_btn {
  width: 70%;
  padding: 1.3rem;
  background-color: var(--color-primary);
  border: none;
  outline: none;
  margin-bottom: 1.5rem;
}

.form_btn:hover {
  background-color: rgb(101, 85, 221);
}

.form_link {
  color: white;
  font-weight: bold;
}

.form_group>span {
  margin-top: 2rem;
}

.form_auth_link {
  text-decoration: underline;
}

.icon {
  display: inline-block;
}

.icon.icon-square {
  height: 15px;
  width: 15px;
}

.icon.red {
  background-color: var(--color-primary);
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}


.product-imgs {
  display: flex;
  flex-direction: column;
  height: 80vh;
}

.product-imgs img {
  width: 100%;
  object-fit: contain;
}

.product-content {
  padding: 2rem 1rem;
}

.card.p-detail-card {
  flex-direction: column;
}

.img-display {
  height: 75%;
}

.img-select {
  height: 25%;
  justify-content: center;
}

.img-select .img-item a {
  display: flex;
  height: 100%;
}

.img-select .img-item a img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.img-showcase {
  display: flex;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
}

.img-showcase img {
  min-width: 100%;
}

.card.products {
  position: relative;
}

@media (min-width: 1200px) {
  .card.p-detail-card {
    flex-direction: row;
  }

  .product-imgs {
    width: 60%;
  }

  .product-imgs img {
    object-fit: cover;
  }

  .product-content {
    width: 40%;
  }
}

